Q1.

In [1]:
a="reshad"

In [6]:
print(type(a))

<class 'str'>

In [4]:
l =[12,34,'hello',True,45.9]

In [7]:
print(type(l))

<class 'list'>

In [8]:
b=89.98

In [9]:
print(type(b))

<class 'float'>

In [10]:
t=(23,56,'rexx',8.5)

In [12]:
print(type(t))

<class 'tuple'>



Q2.

In [17]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [18]:
type(var3)

list

In [19]:
var4=1

In [20]:
type(var4)

int

In [21]:
var2 = '[ DS , ML , Python]'

In [22]:
type(var2)

str

In [23]:
var1=''

In [24]:
type(var1)

str

Q3.

In [26]:
a=70
b=7

In [27]:
a/b

10.0

In [28]:
a%b

0

In [29]:
a//b

10

In [30]:
a**b

8235430000000

/ Division will simply divide your number.

% Modulus ,this  gives the remainder when the first number is divided from the second number.

// Floor division ,this will give ypu floor value.

** 	Exponentiation like 2*2 is 4

Q4.

In [31]:
list=[10,28,34,'rexx',8.7,True,False,'rahul',54,'34']

In [32]:
len(list)

10

In [35]:
for i in list:
    print(i)

10
28
34
rexx
8.7
True
False
rahul
54
34

In [37]:
for i in list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a=int(input('enter your first number'))
b=int(input('enter your second number'))
while a%b==0:
    print('a is purely divisible by b')
    break 
else:
    print ("its not")

enter your first number 50
enter your second number 5

a is purely divisible by b

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:

my_list = [12, 7, 9, 18, 30, 42, 55, 63, 8, 21, 36, 11, 77, 99, 45, 24, 6, 81, 15, 17, 20, 29, 72, 90, 50]
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

12 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
18 is divisible by 3
30 is divisible by 3
42 is divisible by 3
55 is not divisible by 3
63 is divisible by 3
8 is not divisible by 3
21 is divisible by 3
36 is divisible by 3
11 is not divisible by 3
77 is not divisible by 3
99 is divisible by 3
45 is divisible by 3
24 is divisible by 3
6 is divisible by 3
81 is divisible by 3
15 is divisible by 3
17 is not divisible by 3
20 is not divisible by 3
29 is not divisible by 3
72 is divisible by 3
90 is divisible by 3
50 is not divisible by 3

Q7.What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable Data Types:

*Immutable data types are those whose values cannot be modified after they are created.
*When you perform an operation that seems to modify an immutable object, you're actually creating a new object with the modified value.
*Examples of immutable data types in Python include integers, floats, strings, and tuples.


Mutable Data Types:

Mutable data types are those whose values can be modified after they are created.
When you modify a mutable object, you are directly changing its value in memory, and there's no need to create a new object.
Examples of mutable data types in Python include lists, dictionaries, and sets.

In [29]:
# Strings are immutable
string1 = "Hello"
string2 = string1  # Assign string1 to string2
string2 += ", World!"  # This creates a new string
print(string1)  # Output: Hello
print(string2)  # Output: Hello, World!

Hello
Hello, World!

In [30]:
# Lists are mutable
list1 = [1, 2, 3]
list2 = list1  # Assign list1 to list2
list2.append(4)  # This modifies the original list
print(list1)  # Output: [1, 2, 3, 4]
print(list2)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 2, 3, 4]